/* Testimonial */
.about{
    text-align: center;
    padding-top: 100px;
    height: 100vh ;
    background-image: url('./about.gif');
    background-size: cover;
}

@media screen and (max-width: 1128px) {
    .about{
        padding: 50px 30px;

    }
}
